/* Stylesheet */
body {
    background: url("https://tiestoclublife.files.wordpress.com/2013/06/tiesto_club_life_img325.jpg") no-repeat, #000;
    background-size: cover;
    margin-top: 10em;
}

h1 {
    color: #fff;
    margin: 0 0 2em 3em;
    font-size: 3em;
}

kbd, span {
    color: #fff;
    font-size: 1.25em;
}

.keys {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 3em;
}

.key.ui.button {
    padding: 1em 2em;
    background: #000;
    transition: all .07s ease;
}

.ui.inverted.black.button {
    background: rgba(0,0,0,.5);
}

kbd {
    display: block;
    padding: 0 0 1em;
}

.playing {
  transform: scale(1.1);
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}